.data-grid {
    position: relative;
    border: 1px solid #aaa;
    font-size: 11px;
    line-height: 120%;
}

.data-grid table {
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: separate;
    height: 100%;
    width: 100%;
}

.data-grid .header-container,
.data-grid .data-container {
    position: absolute;
    left: 0;
    right: 0;
    overflow-x: hidden;
}

.data-grid .header-container {
    top: 0;
    height: 17px;
 }

.data-grid .data-container {
    top: 17px;
    bottom: 0;
    overflow-y: overlay;
    transform: translateZ(0);
}

.data-grid.inline .header-container,
.data-grid.inline .data-container {
    position: static;
}

.data-grid.inline .corner {
    display: none;
}

.data-grid .corner {
    width: 14px;
    padding-right: 0;
    padding-left: 0;
    border-left: 0 none transparent !important;
}

.data-grid .top-filler-td,
.data-grid .bottom-filler-td {
    height: auto !important;
    padding: 0 !important;
}

.data-grid table.data {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-top: 0 none transparent;
    background-image: linear-gradient(to bottom, white, white 50%, rgb(234, 243, 255) 50%, rgb(234, 243, 255));
    background-size: 128px 32px;
    table-layout: fixed;
}

.data-grid.inline table.data {
    position: static;
}

.data-grid table.data tr {
    display: none;
}

.data-grid table.data tr.revealed {
    display: table-row;
}

.data-grid td,
.data-grid th {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 14px;
    border-left: 1px solid #aaa;
}

.data-grid th:first-child,
.data-grid td:first-child {
    border-left: none !important;
}

.data-grid td {
    height: 16px; /* Keep in sync with .data-grid table.data @ background-size */
    vertical-align: top;
    padding: 1px 4px;
    -webkit-user-select: text;
}

.data-grid th {
    height: auto;
    text-align: left;
    background-color: #eee;
    border-bottom: 1px solid #aaa;
    font-weight: normal;
    vertical-align: middle;
    padding: 0 4px;
}

.data-grid td > div,
.data-grid th > div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.data-grid td.editing > div {
    text-overflow: clip;
}

.data-grid .center {
    text-align: center;
}

.data-grid .right {
    text-align: right;
}

.data-grid th.sortable {
    position: relative;
}

.data-grid th.sortable:active {
    background-color: rgba(0, 0, 0, 0.15);
}

.data-grid th .sort-order-icon-container {
    position: absolute;
    top: 1px;
    right: 0;
    bottom: 1px;
    display: flex;
    align-items: center;
}

.data-grid th .sort-order-icon {
    margin-right: 4px;
    background-image: url(Images/statusbarButtonGlyphs.png);
    background-size: 320px 144px;
    opacity: 0.5;
    width: 8px;
    height: 7px;
    display: none;
}

@media (-webkit-min-device-pixel-ratio: 1.5) {
.data-grid th .sort-order-icon {
    background-image: url(Images/statusbarButtonGlyphs_2x.png);
}
} /* media */

.data-grid th.sort-ascending .sort-order-icon {
    display: block;
    background-position: -4px -111px;
}

.data-grid th.sort-descending .sort-order-icon {
    display: block;
    background-position: -20px -99px;
}

.data-grid th:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.data-grid button {
    line-height: 18px;
    color: inherit;
}

.data-grid tr.parent td.disclosure::before {
    -webkit-user-select: none;
    -webkit-mask-image: url(Images/statusbarButtonGlyphs.png);
    -webkit-mask-size: 320px 144px;
    float: left;
    width: 8px;
    margin-right: 2px;
    content: "a";
    color: transparent;
    position: relative;
    top: 1px;
}

.data-grid tr.parent td.disclosure::before {
    background-color: rgb(110, 110, 110);
    -webkit-mask-position: -4px -96px;
}

@media (-webkit-min-device-pixel-ratio: 1.5) {
.data-grid tr.parent td.disclosure::before {
    -webkit-mask-image: url(Images/statusbarButtonGlyphs_2x.png);
}
} /* media */

.data-grid tr.expanded td.disclosure::before {
    -webkit-mask-position: -20px -96px;
}

.data-grid tr.selected {
    background-color: rgb(212, 212, 212);
    color: inherit;
}

.data-grid:focus tr.selected {
    background-color: rgb(56, 121, 217);
    color: white;
}

.data-grid:focus tr.selected a {
    color: white;
}

.data-grid:focus tr.parent.selected td.disclosure::before {
    background-color: white;
    -webkit-mask-position: -4px -96px;
}

.data-grid:focus tr.expanded.selected td.disclosure::before {
    background-color: white;
    -webkit-mask-position: -20px -96px;
}

.data-grid tr:not(.parent) td.disclosure {
    text-indent: 10px;
}

.data-grid-resizer {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px;
    z-index: 500;
}
