.help-window-outer {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
}

.help-window-main {
    color: white;
    background-color: rgba(17, 17, 17, 0.85);
    display: -webkit-flex;
    -webkit-flex-direction: column;
    border-top-width: 0;
    border-radius: 10px;
}

.help-window-caption {
    border-bottom: solid 1px rgb(153, 153, 153);
    margin: 0 8px;
    padding: 0 2px;
    line-height: 28px;
}

.help-window-title {
    font-size: 16px;
    margin: 0;
    padding-top: 1px;
    margin-bottom: -1px;
}

.help-content {
    overflow-y: auto;
    overflow-x: hidden;
    margin: 8px 8px 8px 0;
    padding: 0 4px;
    flex: auto;
}

.help-footnote {
    border-top: 1px solid #EEEEEE;
    margin: 0;
    padding: 12px;
}

.help-window-main .help-container-wrapper::-webkit-scrollbar {
    width: 11px;
}

.help-window-main .help-container-wrapper::-webkit-scrollbar-corner,
.help-window-main .help-container-wrapper::-webkit-resizer {
    display: none;
}

.help-window-main .help-container-wrapper::-webkit-scrollbar-thumb:vertical {
    background: linear-gradient(to right, rgb(128, 128, 128), rgb(96, 96, 96) 40%, rgb(128, 128, 128));
    border-radius: 5px;
    min-height: 20px;
}

.help-window-main .help-container-wrapper::-webkit-scrollbar-thumb:vertical:hover,
.help-window-main .help-container-wrapper::-webkit-scrollbar-thumb:vertical:active {
    background: linear-gradient(to right, rgb(176, 176, 176), rgb(144, 144, 144) 40%, rgb(176, 176, 176));
}

.help-window-main .help-container-wrapper::-webkit-scrollbar-track:vertical {
    background: linear-gradient(to right, rgb(10, 10, 10), rgb(32, 32, 32) 25%, rgb(32, 32, 32));
    border-radius: 5px;
}

.help-close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 10;
}

body.dock-to-bottom .help-content {
    margin-bottom: 8px;
}

.help-container {
    width: 100%;
    -webkit-user-select: auto;
    -webkit-column-width: 288px;
}

.help-no-columns {
    -webkit-column-width: initial !important;
}

.help-block {
    display: block;
    padding-bottom: 9px;
    width: 288px;
    -webkit-column-break-inside: avoid;
}

.settings-tab.help-container {
    -webkit-column-width: 308px;
}

.settings-tab .help-block {
    margin-left: 20px;
}

.settings-tab .field-error-message {
    color: DarkRed;
    height: 0; /* Avoid changing element height when content is set. */
}

.help-line {
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.help-key-cell {
    display: inline-block;
    width: 153px;
    white-space: nowrap;
    text-align: right;
    vertical-align: middle;
    padding-right: 6px;
}

.help-cell {
    display: inline-block;
    width: 135px;
    vertical-align: middle;
}

.help-section-title {
    font-size: 120%;
    text-align: left;
}

.help-key {
    padding: 0.1em 0.6em;
    border: 1px solid #ccc;
    font-size: 11px;
    background-color: #f7f7f7;
    color: #333;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
    border-radius: 3px;
    display: inline-block;
    margin: 0 0.1em;
    text-shadow: 0 1px 0 #fff;
    line-height: 1.5;
    white-space: nowrap;
    font-family: Lucida Grande, sans-serif;
}

.help-combine-keys,
.help-key-delimiter {
    font-size: 9px;
}

.help-combine-keys {
    margin: 0 0.3em;
}

.help-key-delimiter {
    margin: 0 0.5em;
    display: none;
}

.help-window-outer fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.settings-tab label {
    padding-right: 4px;
    display: inline-flex;
}

#general-tab-content .help-block fieldset legend {
    font-size: 14px;
}

.help-block p p {
    padding-left: 30px;
}

.help-content p.help-section {
    margin: 0 0 15px 0;
}

.settings-experiments-warning-subsection-warning {
    color: rgb(200, 0, 0);
}

.settings-experiments-warning-subsection-message {
    color: inherit;
}

.help-content input[type=checkbox] {
    margin: 1px 7px 1px 2px;
}

.help-content option {
    background-color: #EEEEEE;
    color: #222;
}

#settings-screen .help-window-main{
    color: rgb(48, 57, 66);
    background-color: white;
    border-radius: 0;
}

#settings-screen .help-window-main {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    height: initial;
    padding: 11px 0 0 0;
    box-shadow: 1px 1px 5px 2px rgba(128, 128, 128, 0.7);
}

#settings-screen .help-window-label {
    font-size: 18px;
    color: inherit;
    padding: 1px 0 15px 17px;
}

.help-container-wrapper {
    position: absolute;
    top: 40px;
    left: 0px;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.settings-tab.help-content {
    margin: 0;
    padding: 0;
}

.settings-tab input:not([type]),
.settings-tab input[type="text"] {
    border: 1px solid rgb(213, 213, 213);
    border-radius: 2px;
    color: #444444;
    padding: 3px;
}

.settings-tab input.numeric {
    text-align: right;
}

.settings-tab-container {
    flex: auto;
    overflow: hidden;
}

.settings-tab-container header {
    padding: 0 0 6px;
    border-bottom: 1px solid #EEEEEE;
}

#experiments-tab-content .help-container {
    -webkit-column-width: 470px;
}

#experiments-tab-content .help-block {
    width: 470px;
    margin-left: 0;
}

.settings-tab-container header > h3 {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding-bottom: 3px;
}

.settings-tab .help-section-title {
    margin-left: -20px;
    color: #222;
}

.settings-tab .help-block fieldset:disabled label:hover {
    color: inherit;
}

.settings-tab .help-block label:hover {
    color: #222;
}

.settings-tab p {
    margin: 12px 0;
}

.settings-tab select {
    margin-left: 10px;
}

#workspace-tab-content .settings-tab.help-content.help-container {
    -webkit-column-width: initial;
}


#workspace-tab-content .button:hover {
    opacity: 1.0 !important;
}

.settings-tab .settings-list-container {
    background-color: white;
    margin-bottom: 10px;
}

.settings-tab .settings-list {
    border: 1px solid hsl(0, 0%, 85%);
    border-radius: 2px;
}

.settings-tab .settings-list .settings-list-item .settings-list-item-contents {
    width: 100%;
    height: 40px;
    -webkit-box-align: center;
    -webkit-transition: 150ms background-color;
    display: -webkit-box;
    padding-right: 3px;
}

.settings-tab .settings-list .settings-list-item .settings-list-item-contents > :first-child {
    -webkit-box-align: center;
    -webkit-box-flex: 1;
    -webkit-padding-end: 5px;
    display: -webkit-box;
}

.settings-tab .settings-list .settings-list-item.selected:not(.editable) {
    background-color: hsl(0, 0%, 82%);
}

.settings-tab .settings-list .settings-list-item:hover {
    background-color: hsl(215, 54%, 93%);
}

.settings-tab .settings-list .settings-list-item.selected:not(.editable):hover {
    background-color: hsl(215, 51%, 82%);
}

.settings-tab .settings-list .settings-list-item .remove-item-button {
    -webkit-transition: 150ms opacity;
    background-color: hsla(0, 0%, 0%, 0);
    background-image: -webkit-image-set(
        url(Images/settingsListRemove.png) 1x,
        url(Images/settingsListRemove_2x.png) 2x);
    background-size: 48px 16px;
    border: none;
    display: block;
    height: 16px;
    width: 16px;
    opacity: 0;
    pointer-events: none;
}

.settings-tab .settings-list .settings-list-item.selected .remove-item-button,
.settings-tab .settings-list .settings-list-item:hover .remove-item-button {
    opacity: 1;
    pointer-events: auto;
}

.settings-tab .settings-list .settings-list-item .remove-item-button:hover {
    background-position-x: -32px;
}

.settings-tab .settings-list .settings-list-item .remove-item-button:active {
    background-position-x: -16px;
}

.settings-list-item-columns {
    height: 100%;
}

.settings-tab .settings-list .settings-list-item .list-column {
    displaY: -webkit-box;
    -webkit-box-align: center;
    padding-left: 5px;
    padding-right: 2px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
}

.settings-tab .settings-list .settings-list-item .list-column .list-column-editor {
    width: 100%;
}

.settings-tab .settings-list .settings-list-item.add-list-item .remove-item-button {
    visibility: hidden;
}

.settings-tab .settings-list .settings-list-item.editable .list-column .list-column-editor {
    display: none;
}

.settings-tab .settings-list .settings-list-item.editable.item-editing .list-column .list-column-editor {
    display: block;
}

.settings-tab .settings-list .settings-list-item.editable.item-editing .list-column .list-column-text {
    display: none;
}

.settings-tab .settings-list .settings-list-item.editable.item-editing .list-column .list-column-editor.editable-item-error {
    background-color: pink;
}

input.list-column-editor {
    border: 1px solid rgb(213, 213, 213);
    border-radius: 2px;
    color: #444444;
    padding: 3px;
}
select.list-column-editor {
    padding: 2px;
    margin-left: 0;
}

.settings-tab .settings-list .settings-list-item .file-system-path {
    white-space: nowrap;
    font-size: 12px;
    padding-left: 6px;
    padding-right: 5px;
    -webkit-box-flex: 1;
    color: hsl(210, 16%, 22%);
}

.settings-tab .settings-list .settings-list-item .file-system-path-name {
    padding-right: 6px;
    font-weight: bold;
}

.file-systems-list .settings-list-item .list-column.settings-list-column-path {
    width: 100%;
}

.file-mappings-list .settings-list-item .list-column.settings-list-column-url {
    width: 50%;
}

.file-mappings-list .settings-list-item .list-column.settings-list-column-path {
    width: 50%;
}

.blackbox-patterns-list .settings-list-item .list-column.settings-list-column-pattern {
    width: 50%;
}

.blackbox-patterns-list .settings-list-item .list-column.settings-list-column-value {
    width: 50%;
}

.excluded-folders-list .settings-list-item .list-column.settings-list-column-path {
    width: 100%;
}

.settings-tab .settings-list .settings-list-item.disabled .settings-list-column-pattern .list-column-text {
    color: #666;
    text-decoration: line-through;
}

.settings-dialog {
    border-radius: 3px;
    box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
    display: -webkit-flex;
    -webkit-flex-direction: column;
    background: white;
}

.settings-dialog .dialog-contents {
    display: flex;
    flex-direction: column;
}

.settings-dialog .header {
    flex: 0 0 auto;
    color: #333;
    font-size: 14px;
    margin: 0;
    padding: 14px 17px 14px;
}

.settings-dialog .contents {
    flex: 1 1 auto;
    padding: 0 17px;
    overflow-x: hidden;
    overflow-y: auto;
}

.settings-dialog .block-header {
    color: black;
    font-size: 1.2em;
    margin-bottom: 0.8em;
}

.blackbox-dialog .columns-header {
    color: black;
    font-weight: bold;
    margin-bottom: 0.4em;
    display: -webkit-box;
    padding: 0;
}

.blackbox-dialog .columns-header span {
    width: 50%;
    display: -webkit-box;
}

.blackbox-dialog .columns-header span + span {
    margin-left: -7px
}

.blackbox-content-scripts {
    padding: 0 0 14px 0;
    margin-left: -4px;
}

.settings-dialog .done-button {
    float: right;
}

.settings-glass-pane {
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    display: -webkit-box;
    z-index: 2000 !important;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.4) !important;
}

.help-indent-labels label {
    padding-left: 10px;
}

.dialog-contents .section {
    min-width: 400px;
}

.settings-experiment-hidden {
    display: none;
}

.settings-experiment-hidden label {
    background-color: #ddd;
}

.settings-developer-mode .settings-experiment-hidden {
    display: block;
}
