/*
 * Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.service-worker {
    padding: 5px 5px 5px 8px;
    border-bottom: 1px solid #aaa;
    display: flex;
    align-items: center;
}

.service-worker:last-child {
    border-bottom: none;
}

.service-worker-scope {
    color: #777;
    flex: auto;
    margin: 5px 5px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
