/* https://github.com/bgrins/spectrum */
:host {
    width: 232px;
    height: 240px;
    -webkit-user-select: none;
}

:host(.palettes-enabled) {
    height: 271px;
}

.spectrum-color {
    position: relative;
    width: 232px;
    height: 124px;
    border-radius: 2px 2px 0 0;
    overflow: hidden;
}

.spectrum-display-value {
    -webkit-user-select: text;
    display: inline-block;
    padding-left: 2px;
}

.spectrum-hue {
    top: 140px;
}

.spectrum-alpha {
    top: 159px;
    background-image: url(Images/checker.png);
    background-size: 12px 11px;
}

.spectrum-alpha-background {
    height: 100%;
    border-radius: 2px;
}

.spectrum-hue, .spectrum-alpha {
    position: absolute;
    right: 16px;
    width: 130px;
    height: 11px;
    border-radius: 2px;
}

.spectrum-dragger,
.spectrum-slider {
    -webkit-user-select: none;
}

.spectrum-sat {
    background-image: linear-gradient(to right, white, rgba(204, 154, 129, 0));
}

.spectrum-val {
    background-image: linear-gradient(to top, black, rgba(204, 154, 129, 0));
}

.spectrum-hue {
    background: linear-gradient(to left, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
}

.spectrum-dragger {
    border-radius: 12px;
    height: 12px;
    width: 12px;
    border: 1px solid white;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.24);
}

.spectrum-slider {
    position: absolute;
    top: -1px;
    cursor: pointer;
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: rgb(248, 248, 248);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.swatch {
    width: 24px;
    height: 24px;
    margin: 0;
    position: absolute;
    top: 144px;
    left: 47px;
    background-image: url(Images/checker.png);
    border-radius: 16px;
}

.swatch-inner {
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 16px;
}

.swatch-inner-white {
    border: 1px solid #ddd;
}

.spectrum-text {
    position: absolute;
    top: 184px;
    left: 16px;
}

.spectrum-text-value {
    display: inline-block;
    width: 39px;
    overflow: hidden;
    text-align: center;
    border: 1px solid #dadada;
    border-radius: 2px;
    margin-right: 6px;
    line-height: 20px;
    font-size: 11px;
    padding: 0;
    color: #333;
    white-space: nowrap;
}

.spectrum-text-label {
    letter-spacing: 38.5px;
    margin-top: 8px;
    display: block;
    color: #969696;
    margin-left: 16px;
    width: 174px;
}

.spectrum-text-hex > .spectrum-text-value {
    width: 174px;
}

.spectrum-text-hex > .spectrum-text-label {
    letter-spacing: normal;
    margin-left: 0px;
    text-align: center;
}

.spectrum-palette-value {
    background-color: rgb(65, 75, 217);
    border-radius: 2px;
    margin-top: 12px;
    margin-left: 12px;
    width: 12px;
    height: 12px;
    display: inline-block;
}

.spectrum-switcher {
    border-radius: 2px;
    height: 20px;
    width: 20px;
    padding: 2px;
}

.spectrum-display-switcher {
    top: 196px;
    position: absolute;
    right: 10px;
}

.spectrum-switcher:hover {
    background-color: #EEEEEE;
}

.spectrum-eye-dropper {
    width: 32px;
    height: 24px;
    position: absolute;
    left: 12px;
    top: 144px;
    cursor: pointer;
}

.spectrum-palette {
    border-top: 1px solid #dadada;
    position: absolute;
    top: 235px;
    width: 100%;
    padding: 6px 24px 6px 6px;
    display: flex;
    flex-wrap: wrap;
}

.spectrum-palette-color {
    width: 12px;
    height: 12px;
    flex: 0 0 12px;
    display: inline-block;
    border-radius: 2px;
    margin: 6px;
    cursor: pointer;
}

.spectrum-palette > .spectrum-palette-color {
    transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    will-change: transform;
    z-index: 13;
}

.spectrum-palette > .spectrum-palette-color.empty-color {
    border-color: transparent;
}

.spectrum-palette > .spectrum-palette-color:not(.empty-color):hover {
    transform: scale(1.15);
}

.add-color-toolbar {
    margin-left: -3px;
    margin-top: -1px;
}

.spectrum-palette-switcher {
    right: 10px;
    top: 235px;
    margin-top: 9px;
    position: absolute;
}

.palette-panel {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 14;
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1), visibility 0s 200ms;
    border-top: 1px solid #dadada;
    visibility: hidden;
}

.palette-panel-showing > .palette-panel {
    transform: translateY(calc(-100% + 117px));
    transition-delay: 0s;
    visibility: visible;
}

.palette-panel > div.toolbar {
    position: absolute;
    right: 6px;
    top: 6px;
}

.palette-panel > div:not(.toolbar) {
    flex: 0 0 38px;
    border-bottom: 1px solid #dadada;
    padding: 12px;
    line-height: 14px;
    color: #333;
}

.palette-panel > div.palette-title {
    font-size: 14px;
    line-height: 16px;
    color: #333;
    flex-basis: 40px;
}

div.palette-preview {
    display: flex;
    cursor: pointer;
}

.palette-preview-title {
    flex: 0 0 84px;
}

.palette-preview > .spectrum-palette-color {
    margin-top: 1px;
}

.palette-preview:hover {
    background-color: #eee;
}

.spectrum-overlay {
    z-index: 13;
    visibility: hidden;
    background-color: hsla(0, 0%, 0%, 0.5);
    opacity: 0;
    transition: opacity 100ms cubic-bezier(0, 0, 0.2, 1), visibility 0s 100ms;
}

.palette-panel-showing > .spectrum-overlay {
    transition-delay: 0s;
    visibility: visible;
    opacity: 1;
}

.spectrum-contrast-container {
    width: 100%;
    height: 100%;
}

.spectrum-contrast-line {
    fill: none;
    stroke: white;
    opacity: 0.7;
    stroke-width: 1.5px;
}

.delete-color-toolbar {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: #EFEFEF;
    visibility: hidden;
    z-index: 3;
    width: 36px;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

@keyframes showDeleteToolbar {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.delete-color-toolbar.dragging {
    visibility: visible;
    animation: showDeleteToolbar 100ms 150ms cubic-bezier(0, 0, 0.2, 1) backwards;
}

.delete-color-toolbar-active {
    background-color: #ddd;
    color: white;
}
