.popover-container {
    pointer-events: none;
    overflow: hidden;
}

.popover {
    position: absolute;
    -webkit-border-image: url(Images/popoverBackground.png) 25 25 25 25;
    border-width: 25px;
    z-index: 600;
    pointer-events: none;
}

.popover .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: auto;
    overflow: auto;
    -webkit-user-select: text;
    line-height: 11px;
}

.popover .content.fixed-height {
    overflow: hidden;
} 

.popover .arrow {
    position: absolute;
    background-image: url(Images/popoverArrows.png);
    width: 19px;
    height: 19px;
    margin-left: 15px;
    margin-top: -24px;
    top: 0;
    left: 0;
}

.popover.top-left-arrow .arrow {
    /* The default is top-left, no styles needed. */
}

.popover.top-right-arrow .arrow {
    right: 24px;
    left: auto;
}

.popover.bottom-left-arrow .arrow {
    top: auto;
    bottom: 0;
    margin-top: 0;
    margin-bottom: -24px;
    background-position: 0 -19px;
}

.popover.bottom-right-arrow .arrow {
    right: 15px;
    left: auto;
    top: auto;
    bottom: 0;
    margin-top: 0;
    margin-bottom: -24px;
    background-position: 0 -19px;
}
