/*
 * Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.responsive-design {
    position: relative;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

.responsive-design-view {
    overflow: hidden;
}

.responsive-design-canvas {
    pointer-events: none;
}

.responsive-design-sliders-container {
    position: absolute;
    overflow: visible;
}

.responsive-design-generic-outline-container {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: -19px;
    bottom: -19px;
}

.responsive-design-generic-outline {
    position: absolute;
    top: -10px;
    left: -10px;
    right: 5px;
    bottom: 5px;
    border-radius: 8px;
    background-color: rgb(51, 51, 51);
    box-shadow: rgb(20, 20, 20) 3px 3px 4px;
}

.responsive-design-slider-width {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -14px;
    width: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.responsive-design-slider-height {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.responsive-design-thumb-handle {
    content: url(Images/statusbarResizerHorizontal.png);
    pointer-events: none;
}

.responsive-design-slider-height .responsive-design-thumb-handle  {
    transform: rotate(90deg);
}

.responsive-design-page-scale-container {
    position: absolute !important;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
}

.responsive-design-page-scale-label {
    display: block;
    height: 20px;
    margin: 0 4px;
    padding-top: 3px;
    color: white;
    cursor: default !important;
}

.responsive-design-page-scale-container .responsive-design-page-scale-button > .glyph {
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid transparent;
    border-radius: 2px;
}

.responsive-design-page-scale-container .responsive-design-page-scale-button:not(:disabled):hover {
    box-shadow: rgb(255, 255, 255) 0 0 3px;
}

.responsive-design-page-scale-container .responsive-design-page-scale-button {
    border: none;
    background-color: transparent;
    padding: 2px 0 0 0;
}

.responsive-design-page-scale-container .responsive-design-page-scale-button > .glyph {
    background-color: rgb(180, 180, 180);
    -webkit-mask-image: url(Images/responsiveDesign.png);
    -webkit-mask-size: 112px 16px;
    opacity: 1;
}

@media (-webkit-min-device-pixel-ratio: 1.5) {
.responsive-design-page-scale-container .responsive-design-page-scale-button > .glyph {
    -webkit-mask-image: url(Images/responsiveDesign_2x.png);
}
} /* media */

.responsive-design-page-scale-increase > .glyph {
    -webkit-mask-position: -80px 0;
}

.responsive-design-page-scale-decrease > .glyph {
    -webkit-mask-position: -96px 0;
}

/* Toolbar */

.responsive-design-toolbar {
    display: flex;
    flex: none;
    background: linear-gradient(to bottom, rgb(83, 81, 81), rgb(59, 59, 59));
    color: rgb(255, 255, 255);
    overflow: hidden;
    border-bottom: 1px solid rgb(71, 71, 71);
}

.responsive-design-separator {
    flex: none;
    width: 3px;
    background-color: rgb(46, 46, 46);
    border-right: 1px solid rgb(75, 75, 75);
}

.responsive-design-section {
    display: flex;
    flex: none;
    flex-direction: column;
    white-space: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    padding-top: 1px;
}

.responsive-design-section-decorator {
    height: 2px;
    margin-left: -2px;
    margin-right: -1px;
    position: relative;
}

.responsive-design-suite {
    display: flex;
    flex-direction: row;
    padding: 2px 11px;
    color: rgb(180, 180, 180);
}

.responsive-design-suite.responsive-design-suite-top {
    color: rgb(255, 255, 255);
}

.responsive-design-suite-separator {
    flex: none;
    width: 1px;
    background-color: rgb(43, 43, 43);
    margin: 0 6px;
}

.responsive-design-suite > div:not(.responsive-design-suite-separator) {
    flex: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 23px;
    overflow: hidden;
}

/* Toolbar controls */

.responsive-design-toolbar fieldset,
.responsive-design-toolbar p {
    margin: 0;
    border: 0;
    padding: 0;
    display: inline-block;
}

.responsive-design-toolbar .field-error-message {
    display: none;
}

.responsive-design-toolbar label {
    cursor: default !important;
}

.responsive-design-toolbar input[type='text'] {
    text-align: left;
    background-color: transparent;
    border: none;
    margin: 0 1px 1px 0;
    padding: 3px 2px;
}

.responsive-design-toolbar input[type='text'].numeric {
    text-align: center;
}

.responsive-design-toolbar input:focus::-webkit-input-placeholder {
    color: transparent !important;
}

.responsive-design-toolbar fieldset:disabled input,
.responsive-design-toolbar fieldset:disabled button {
    opacity: 0.7;
}

.responsive-design-toolbar input[type='checkbox'] {
    -webkit-appearance: none;
    margin: auto 5px auto 2px;
    border: 1px solid rgb(45, 45, 45);
    border-radius: 3px;
    background-color: rgb(102, 102, 102);
    position: relative;
    top: 1px;
}

.responsive-design-toolbar input[type='checkbox']:after {
    content: '';
    line-height: 10px;
    position: absolute;
    cursor: pointer;
    width: 12px;
    height: 12px;
    background: none;
}

.responsive-design-toolbar input[type='checkbox']:checked:after {
    background: rgb(220, 220, 220);
}

.responsive-design-toolbar input.error-input {
    color: red !important;
    text-decoration: line-through;
}

.responsive-design-toolbar select {
    height: 18px;
    background-color: rgb(87, 87, 87);
    border: 0;
    margin-left: 10px;
    line-height: 16px;
}

.responsive-design-toolbar input:focus {
    background-color: rgb(81, 81, 81);
}

/* Toolbar icons */

.responsive-design-icon {
    background-color: rgb(180, 180, 180);
    -webkit-mask-image: url(Images/responsiveDesign.png);
    -webkit-mask-size: 112px 16px;
}

.responsive-design-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
}

.responsive-design-icon:disabled {
    opacity: 1 !important;
}

@media (-webkit-min-device-pixel-ratio: 1.5) {
.responsive-design-icon {
    -webkit-mask-image: url(Images/responsiveDesign_2x.png);
}
} /* media */

.responsive-design-toolbar input[type='checkbox']:after {
    -webkit-mask-image: url(Images/statusbarButtonGlyphs.png);
    -webkit-mask-size: 320px 144px;
    -webkit-mask-position: -128px -110px;
}

@media (-webkit-min-device-pixel-ratio: 1.5) {
    .responsive-design-toolbar input[type='checkbox']:after {
        -webkit-mask-image: url(Images/statusbarButtonGlyphs_2x.png);
    }
} /* media */

.responsive-design-icon-resolution {
    -webkit-mask-position: 0 0;
}

.responsive-design-icon-dpr {
    -webkit-mask-position: -16px 0;
}

.responsive-design-icon-swap {
    background-color: rgb(255, 170, 0);
    -webkit-mask-position: -32px 0;
    -webkit-appearance: none;
    padding: 0;
    border: 0;
}

.responsive-design-icon-swap {
    margin-left: 1px;
}

.responsive-design-icon-swap:hover {
    background-color: rgb(255, 180, 0);
}

.responsive-design-icon-swap:active {
    opacity: 0.8;
}

/* Buttons section */

.responsive-design-section-buttons {
    padding: 4px 0 0 0;
    background: rgb(17, 17, 17);
    border-right: 2px solid rgb(0, 0, 0);
}

.responsive-design-more-button-container {
    flex: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
}

.responsive-design-more-button {
    -webkit-appearance: none;
    border: 0;
    background-color: transparent;
    color: white;
    opacity: 0.8;
    font-size: 16px;
    text-shadow: black 1px 1px;
}

.responsive-design-more-button:hover {
    opacity: 1;
}

.responsive-design-more-button:active {
    opacity: 0.8;
}

/* Device section */

.responsive-design-section-device .responsive-design-section-decorator {
    background: linear-gradient(to bottom, rgb(255, 186, 68), rgb(255, 119, 0));
    margin-left: 0;
}

.responsive-design-section-device select {
    width: 185px;
}

.responsive-design-section-device input[type='text'],
.responsive-design-section-device input[type='text']::-webkit-input-placeholder,
.responsive-design-section-device select {
    color: rgb(255, 156, 0);
}

.responsive-design-section-device input[type='checkbox']:checked:after {
    background: rgb(255, 156, 0);
}

.responsive-design-device-select button {
    display: none !important;
}

/* Network section */

.responsive-design-section-network select {
    width: 185px;
}

.responsive-design-section-network input[type='text'] {
    width: 222px;
    margin-left: 5px;
    text-overflow: ellipsis;
}

.responsive-design-section-network input[type='text'],
.responsive-design-section-network input[type='text']::-webkit-input-placeholder,
.responsive-design-section-network select {
    color: rgb(65, 175, 255);
}

.responsive-design-section-network .responsive-design-section-decorator {
    background: linear-gradient(to bottom, rgb(77, 170, 243), rgb(0, 130, 255));
}

/* Warning message */

.responsive-design-warning {
    background-color: rgb(252, 234, 156);
    color: rgb(34, 34, 34);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 2px 4px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(171, 171, 171);
}

.responsive-design-warning > span {
    flex: auto;
    padding-left: 3px;
    overflow: hidden;
}

.responsive-design-warning > div {
    flex: none;
}

.responsive-design-warning .disable-warning {
    margin-right: 5px;
    text-decoration: underline;
    cursor: pointer;
}

/* Media query inspector */

.responsive-design-media-container {
    position: absolute;
    right: 0;
    top: 0;
    padding-bottom: 5px;
    overflow: hidden;
}

/* Media query bars */

.media-inspector-marker-container {
    position: relative;
    height: 14px;
    margin: 2px 0;
}

.media-inspector-marker {
    position: absolute;
    top: 1px;
    bottom: 1px;
    white-space: nowrap;
    border-radius: 2px;
}

.media-inspector-marker-inactive {
    -webkit-filter: brightness(80%);
}

.media-inspector-marker:hover {
    top: -1px;
    bottom: -1px;
    -webkit-filter: brightness(115%) !important;
}

.media-inspector-marker-max-width {
    background: linear-gradient(to left, rgba(255, 255, 255, 0.27), rgba(0,0,0,0) 30px), linear-gradient(to bottom, rgb(72, 139, 249), rgb(26, 113, 233));
    border-radius: 0 2px 2px 0;
    border-right: 2px solid rgb(171, 207, 255);
}

.media-inspector-marker-min-max-width {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.27), rgba(0,0,0,0) 30px), linear-gradient(to left, rgba(255, 255, 255, 0.27), rgba(0,0,0,0) 30px), linear-gradient(to bottom, rgb(112, 174, 7), rgb(3, 131, 0));
    border-radius: 2px;
    border-left: 2px solid rgb(80, 226, 40);
    border-right: 2px solid rgb(80, 226, 40);
}

.media-inspector-marker-min-max-width:hover {
    z-index: 1;
}

.media-inspector-marker-min-width {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.27), rgba(0,0,0,0) 30px), linear-gradient(to bottom, rgb(222, 129, 30), rgb(204, 104, 31));
    border-radius: 2px 0 0 2px;
    border-left: 2px solid rgb(255, 181, 142);
}

/* Media query labels */

.media-inspector-marker:not(:hover) .media-inspector-marker-label-container {
    display: none;
}

.media-inspector-marker-label-container {
    position: absolute;
}

.media-inspector-marker-label-container-left {
    left: -2px;
}

.media-inspector-marker-label-container-right {
    right: -2px;
}

.media-inspector-marker-label {
    color: #eee;
    position: absolute;
    top: 1px;
    bottom: 0;
    font-size: 10px;
    text-shadow: rgba(0, 0, 0, 0.6) 1px 1px;
    pointer-events: none;
}

.media-inspector-label-right {
    right: 4px;
}

.media-inspector-label-left {
    left: 4px;
}
